<div>
    <form >
        <div class="row">
            <div class="input-forls col s4">
                <input type="text" placeholder="Avatar" formControlName="avatar">
            </div>
            <div class="input-forls col s4">
                <input type="text" placeholder="Name"  formControlName="name">
            </div>
            <div class="input-forls col s4">
                <input type="text" placeholder="Surname" formControlName="surname">
            </div>
            <div class="input-forls col s4">
                <input type="text" placeholder="Age" formControlName="age">
            </div>
            <input type="submit" value="Update" class="btn button" >
        </div>
    </form>
</div>
